infra/step-function/definition.json
{
  "StartAt": "ConsultarPessoa",
  "States": {
    "ConsultarPessoa": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "pessoas",
        "Key": {
          "id": {
            "S.$": "$.id"
          }
        }
      },
      "ResultPath": "$.dynamo_result",
      "Next": "ItemExiste?"
    },
    "ItemExiste?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.dynamo_result.Item",
          "IsPresent": true,
          "Next": "ApiGatewayResponseHandler"
        }
      ],
      "Default": "ItemNotFoundHandler"
    },
    "ApiGatewayResponseHandler": {
      "Type": "Pass",
      "Parameters": {
        "statusCode": 200,
        "body.$": "States.JsonToString($.dynamo_result.Item)"
      },
      "End": true
    },
    "ItemNotFoundHandler": {
      "Type": "Pass",
      "Parameters": {
        "statusCode": 404,
        "body": "{\"msg\": \"Pessoa não existe\"}"
      },
      "End": true
    }
  }
}